body{
    text-align: center;
}

canvas{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkBox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}

#status{
    font-size: 49px;
    border: 2px;
}

#attack{
    width: 10%;
    height: 10%;
}